<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinate</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <script>
        
    </script>
    <p>
        <div class="header">
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <img src="../static/Logo-icon.png" alt="Logo">
                <a href="/">C<span class="logo-title">oo</span>rdinate</a>
                <a href="/create" class="create-link">+</a> 
            </nav>
        </div>
        
        <div class="content">
            <div class="popular-con">
                <h1>RANKING</h1>
                <!-- <span class="badge badge-primary">Popular</span> -->
            </div>
            <div>
                <a href="/{{ url[4] }}" class="card-root">
                    <div class="card">
                        <img src="{{ url_for('static', filename='1.png')}}" alt="img1">
                        <div class="card-body">
                            <p class="card-text">{{ title[4] }}</p>
                            <p class="card-text">{{ comment[4] }}</p>
                        </div>
                    </div>
                </a>
                <a href="/{{ url[3] }}" class="card-root">
                    <div class="card">
                        <img src="{{ url_for('static', filename='2.png')}}" alt="img1">
                        <div class="card-body">
                            <p class="card-text">{{ title[3] }}</p>
                            <p class="card-text">{{ comment[3] }}</p>
                        </div>
                    </div>
                </a>
                <a href="/{{ url[2] }}" class="card-root">
                    <div class="card">
                        <img src="{{ url_for('static', filename='3.png')}}" alt="img1">
                        <div class="card-body">
                            <p class="card-text">{{ title[2] }}</p>
                            <p class="card-text">{{ comment[2] }}</p>
                        </div>
                    </div>
                </a>
                <a href="/{{ url[1] }}" class="card-root">
                    <div class="card">
                        <img src="{{ url_for('static', filename='4.png')}}" alt="img1">
                        <div class="card-body">
                            <p class="card-text">{{ title[1] }}</p>
                            <p class="card-text">{{ comment[1] }}</p>
                        </div>
                    </div>
                </a>
                <a href="/{{ url[1] }}" class="card-root">
                    <div class="card">
                        <img src="{{ url_for('static', filename='5.png')}}" alt="img1">
                        <div class="card-body">
                            <p class="card-text">{{ title[0] }}</p>
                            <p class="card-text">{{ comment[0] }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="new-arrive">
                <h1>NEW POST</h1>
                <!-- <span class="badge badge-primary">New</span> -->
            </div>
            <a href="/{{ url[4] }}" class="card-root">
                <div class="card">
                    <img src="{{ url_for('static', filename='6.png')}}" alt="img1">
                    <div class="card-body">
                        <p class="card-text">{{ title[4] }}</p>
                        <p class="card-text">{{ comment[4] }}</p>
                    </div>
                </div>
            </a>
            <a href="/{{ url[3] }}" class="card-root">
                <div class="card">
                    <img src="{{ url_for('static', filename='7.png')}}" alt="img1">
                    <div class="card-body">
                        <p class="card-text">{{ title[3] }}</p>
                        <p class="card-text">{{ comment[3] }}</p>
                    </div>
                </div>
            </a>
            <a href="/{{ url[2] }}" class="card-root">
                <div class="card">
                    <img src="{{ url_for('static', filename='8.png')}}" alt="img1">
                    <div class="card-body">
                        <p class="card-text">{{ title[2] }}</p>
                        <p class="card-text">{{ comment[2] }}</p>
                    </div>
                </div>
            </a>
            <a href="/{{ url[1] }}" class="card-root">
                <div class="card">
                    <img src="{{ url_for('static', filename='9.png')}}" alt="img1">
                    <div class="card-body">
                        <p class="card-text">{{ title[1] }}</p>
                        <p class="card-text">{{ comment[1] }}</p>
                    </div>
                </div>
            </a>
            <a href="/{{ url[1] }}" class="card-root">
                <div class="card">
                    <img src="{{ url_for('static', filename='10.png')}}" alt="img1">
                    <div class="card-body">
                        <p class="card-text">{{ title[0] }}</p>
                        <p class="card-text">{{ comment[0] }}</p>
                    </div>
                </div>
            </a>
        </div>
    </p>
    <a href="/create"><button id="create" class="btn btn-primary btn-lg" >Coordinateする</button></a>
</body>
</html>